<tr>
  <td><%= blog.title %><%#= link_to image_tag(get_icon_image) + blog.title, blog_path(blog.id) + ".html" %></td> 
  <td><%= blog.created_at %><%#= l blog.created_at %></td>
</tr>
<tr>
  <td colspan="2"><%#= to_br(sanitize_blog(blog.id, true)).html_safe %></td>
</tr>
