更新情報の一覧です。<br />
確認したい更新情報のタイトルを選択してください。<br />

<table class="table">
<% @updated_informations.each do |updated_information| %>
  <tr>
    <td><%= updated_information.display_at %></td>
    <td>v<%= updated_information.version_name %></td>
    <td><%= link_to updated_information.title, updated_information %></td>
  </tr>
<% end %>
</table>

