<table class="table">

<% @admin_access_counts.each do |admin_access_count| %>
  <tr>
    <td><%= admin_access_count.access_at %></td>
    <td><%= admin_access_count.menu_name %></td>
    <td><%= admin_access_count.cnt %></td>
  </tr>
<% end %>

</table>

